<div class="big-pear-image-container">
    <img class="big-pear-image" src="{{Image}}" title="{{Description}}">
</div>

<div class="big-pear-info">
    <p class="big-pear-title">
        {{Title}}
    </p>
    <p class="big-pear-description">
        {{Description}}
    </p>
    <p class="pear-poster">
        Posted by <a href="/users/{{Username}}">{{Username}}</a>
    </p>
    <p class="pear-rating">
        Rated an average of {{Average}}/15 by [users] users
    </p>
</div>